.home {
  height: 95%;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.home__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.home__filtered-list-length {
  background: #4b85d3;
  padding: 5px 19px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.home__filter-input {
  padding: 5px 19px;
  font-size: large;
  border-radius: 5px;
  border-width: 1px;
  border-color: #80808085;
}

.home__podcast-list-container {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    gap: 1rem;
  }