.podcast {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3 rem;
  padding: 1.5rem;
}

.podcast__episode-list {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  gap: 1.3rem;
}

.podcast__episode-list-count {
  font-weight: 600;
  font-size: 1.3rem;
}

.podcast__card {
  box-shadow: 0 13px 25px -7px rgba(0, 0, 0, 0.75);
  padding: 15px;
}

