.nav-bar {
  padding: .5rem 0;
  border-bottom: 1px solid rgb(128 128 128 / 22%);
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__title {
  color: #3277a8 !important;
  font-weight: 700;
  font-size: 1.5rem;
}
