.podcast__main-side {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
width: 35%;
}

.podcast__main-side--img {
  align-self: center;
}

.podcast__main-side--vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.podcast__main-side--podcast-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.podcast__main-side--artist-name {
  font-style: italic;
}

.podcast__main-side--description {
  font-weight: 600;
}

.podcast__main-side--summary {
  width: 100%;
}


.podcast__main-side--division {
  border-top: 1px solid #bbb;
  width: 100%;
}